@import "tailwindcss";

@theme {
        --color-midnight-blue: #040310;
        --color-dark-moderate-blue: #3B5998;
        --color-ivory-white: #FAF9F6;
        --color-ship-cove: #7D889E;
        --color-light-gray: #D9D9D9;
        --color-deep-navy: #14142B;
      }


